{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-polyfill",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}